<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <link rel="stylesheet" th:href="@{/static/style_index.css}">-->
    <title>Request dos Dados</title>
</head>
<div class="center">
    <body>
    <h2>Teste de request do dados</h2>
    <table>
        <thead>
        <tr>
            <th>Sigla</th>
            <th>Indicador</th>
            <th>ANO</th>
            <th>VALOR</th>
            <th>EDITAR</th>
            <th>REMOVER</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="atrib : ${dados.getSeries().getDuplaAnoAtributo().entrySet()}">
            <td th:text="${dados.sigla}"></td>
            <td th:text="${dados.indicador}"></td>
            <td th:text="${atrib.getKey()}"></td>
            <td th:text="${atrib.getValue()}"></td>
            <td style="text-align: center;"><a th:href="@{/form-editar-atrib/{id}/{indi}/{ano}(id=${dados.getSigla()}, indi=${dados.getIndicador()}, ano=${atrib.getKey()})}">Editar</a></td>
            <td style="text-align: center;"><a th:href="@{/remover-atrib/{id}/{indi}/{ano}(id=${dados.getSigla()}, indi=${dados.getIndicador()}, ano=${atrib.getKey()})}">Remover</a></td>
        </tr>
        </tbody>
    </table>
    <td><a th:href="@{/}">Retornar</a></td>
    </body>
</div>
</html>