<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Request dos Dados</title>
</head>
<body>
<div class="container">
    <h2 class="text-center mt-4">Teste de request do dados</h2>
    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th>Sigla</th>
            <th>Indicador</th>
            <th>Ano</th>
            <th>Valor</th>
            <th>Remover</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="atrib : ${dados.getSeries().getDuplaAnoAtributo().entrySet()}">
            <td th:text="${dados.sigla}"></td>
            <td th:text="${dados.indicador}"></td>
            <td th:text="${atrib.getKey()}"></td>
            <td th:text="${atrib.getValue()}"></td>
            <td><a th:href="@{/remover-atrib/{id}/{indi}/{ano}(id=${dados.getSigla()}, indi=${dados.getIndicador()}, ano=${atrib.getKey()})}" class="btn btn-danger">Remover</a></td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center mt-4">
        <a th:href="@{/remover-dados-pais/{id}/{indi}(id=${dados.sigla}, indi=${dados.indicador})}" class="btn btn-danger mr-2">Deletar todos esses dados desse país</a>
        <a th:href="@{/visualizar-dados}" class="btn btn-secondary">Retornar</a>
    </div>
</div>
</body>
</html>
