<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" th:href="@{/static/style_form.css}">-->
    <title>Editar País</title>
</head>
<body style="text-align: center">
<h2>EDITAR PAÍS</h2>
<var th:text="${pais.getNome()}"> </var>
<br/><br/>
<form style="text-align: center"
      action="#"
      th:action="@{/update-pais/{id}(id=${pais.id})}"
      th:object="${pais}"
      method="post">
    <label for="nome">Nome: </label>
    <input type="text" th:field="*{nome}" id="nome">
    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
    <br/><br/>
    <input type="submit" value="Editar">
</form>
<p><a href="/" class="btn-list">Listar Países</a></p>
</body>
</html>