<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" th:href="@{/static/style_index.css}">-->
    <title>Request dos Países</title>
</head>
<div class="center">
    <body>
    <h2>Teste de request</h2>
    <table>
        <thead>
        <tr>
            <th>País</th>
            <th>Sigla</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pais : ${paises}">
            <td th:text="${pais.nome}"></td>
            <td th:text="${pais.id}"></td>
        </tr>
        </tbody>
    </table>
    <td><a th:href="@{/}">Teste</a></td>
    </body>
</div>
</html>