<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Documentação da lib de gráficos usada https://www.chartjs.org/docs/latest/samples/area/line-stacked.html -->
    <title>Analises SocioEconomicas</title>
</head>
<body>
    <div class="sidebar">
        <h2>PRÉ SETS DE ANÁLISES</h2>
        <button id="analise1">Apenas País A</button>
        <button id="analise2">País A x País B</button>
        <button id="analise3">Rank IDH x Imposto</button>
        <button id="analise4">Imp Import x Renda x Arrecadação</button>
        <button id="analise5">IDH x Arrecadação</button>
        <button id="analise6">IDH x Internet x Pesquisas</button>
        <button id="visualizarDados">Visualizar dados</button>
    </div>
        <div class="main-content">
            <h1 id="nomeAnalise">Interface de Análises SocioEconômicas</h1>
            <div class="form-row">
                <div class="form-group">
                    <label for="paisA">País A:</label>
                    <select id="paisA" name="paisA">
                        <option value="" th:disabled="selected">Selecione o país A</option>
                        <option th:each="pais : ${paises}" th:value="${pais.getId()}" th:text="${pais.getNome()}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="paisB">País B:</label>
                    <select id="paisB" name="paisB">
                        <option value="" th:disabled="selected">Selecione o país B</option>
                        <option th:each="pais : ${paises}" th:value="${pais.getId()}" th:text="${pais.getNome()}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="atrib">Atributo:</label>
                    <select id="atrib" name="atrib">
                        <option value="" th:disabled="selected">Selecione um atributo</option>
                        <option th:each="atrib : ${atribs}" th:value="${atrib}" th:text="${atrib}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="anoInicio">Ano Início:</label>
                    <input type="text" id="anoInicio" name="anoInicio">
                </div>

                <div class="form-group">
                    <label for="anoFim">Ano Fim:</label>
                    <input type="text" id="anoFim" name="anoFim">
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <canvas id="myChart1" ></canvas>
                </div>
                <div class="grid-item">
                    <canvas id="myChart2" ></canvas>
                </div>
            </div>
        </div>
    <script th:src="@{/script.js}"></script>
</body>
</html>
